/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800px] Normal desktop styles.
1800px + :      Big desktops

$breakpoint choices: 
- phone
- tab-port
- tab-land
- big-desktop

Responsiveness update order: Base + Typography -> General layout + Grid -> Page Layout -> Components 
*/
/* Setting font related stuff in the body is more efficient (because of inheritance) */
body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 75em) {
    body {
      padding: 0; } }

/* Needed to overwrite all of the formating that comes from browsers */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* Inherited */
  /* box-sizing: border-box; */
  box-sizing: inherit;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */ }

/* Is used for root properties */
html {
  /* Initial root font-size should be always set as percentge just because it would allow users with different font-size set in their browser
       Asumming that browsser default is 16px then our 1rem will be 10px.
    */
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

@keyframes logo-move-in {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translate(0); } }

@keyframes card-move-up {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes move-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: 0; } }

@keyframes name-move-up {
  0% {
    top: 100%;
    left: 50%; }
  100% {
    top: 50%;
    left: 50%; } }

@keyframes nav-item-hover {
  0% {
    background-image: linear-gradient(105deg, transparent 90%, #fff 90% 100%); }
  100% {
    background-image: linear-gradient(#fff 0 100%); } }

/* Setting font related stuff in the body is more efficient (because of inheritance) */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; Replaced by default Rem*/
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: .8s;
    /* Ohter nice to know stuff
        animation-timing-function: ease-in;
        animation-iteration-count: 3;
        animation-delay: 3s; 
        */ }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-centered-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem; } }

.u-padding-bottom-medium {
  padding-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .u-padding-bottom-medium {
      padding-bottom: 3rem; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }
  @media (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 5rem; } }

.u-margin-top-huge {
  margin-top: 10rem; }
  @media (max-width: 37.5em) {
    .u-margin-top-huge {
      margin-top: 5rem; } }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 25rem 0; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 15rem 0 10rem; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem;
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 18rem 0 10rem; } }

.section-stories {
  background-color: #f7f7f7;
  padding: 15rem 0;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }
  .section-stories__heading {
    position: relative; }
  .section-stories__morebtn {
    position: relative; }

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media (max-width: 56.25em) {
    .section-booking {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50% 100%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 50rem; }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 100%, transparent 100% 100%), url(../img/nat-10.jpg);
      height: 55rem; } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%;
        padding: 6rem 2rem; } }

/* Text End */
.btn {
  /* Pseudo elements */ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn:hover, .btn:focus {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after, .btn:focus::after {
      transform: scaleX(1.3) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn--green {
    background-color: #55c57a;
    color: #fff; }
    .btn--green::after {
      background-color: #55c57a; }
  .btn::after {
    /* A must have property */
    content: "";
    /* Everything else should look the same */
    display: inline-block;
    /* Pseudo element is treated like a child of .btn so this will work */
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }

.btn-text:link, .btn-text:visited {
  font-size: 2rem;
  color: #55c57a;
  text-decoration: none;
  border-bottom: 1px #55c57a solid;
  padding: .7rem .4rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all .2s;
    z-index: 10;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 1000; } }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.2); } }
    .composition__photo:hover {
      transform: scale(1.05) translate(-0.5rem);
      z-index: 20;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      outline: 1.5rem solid #55c57a; }
      .composition__photo:hover ~ img {
        transform: scale(0.95); }
      @media (max-width: 56.25em) {
        .composition__photo:hover {
          transform: scale(1.4);
          z-index: 1001; } }

.listcard {
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(247, 247, 247, 0.8);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .2s; }
  .listcard__icon {
    font-size: 6.5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin: auto; }
  .listcard__paragraph {
    font-size: 1.6rem; }
  .listcard:hover {
    transform: translateY(-2rem) scale(1.1);
    cursor: pointer; }

.card {
  perspective: 100rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__img {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__img--1 {
      background-image: linear-gradient(to right, #ffb900, #ff7730), url(../img/nat-5.jpg); }
      .card__img--1 span {
        background-image: linear-gradient(to right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__img--2 {
      background-image: linear-gradient(to right, #7ed56f, #28b485), url(../img/nat-6.jpg); }
      .card__img--2 span {
        background-image: linear-gradient(to right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__img--3 {
      background-image: linear-gradient(to right, #2998ff, #5643fa), url(../img/nat-7.jpg); }
      .card__img--3 span {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__header {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 10rem;
    right: 2rem;
    width: 65%; }
    .card__header span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
  .card__title--1 {
    background-image: linear-gradient(to right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
  .card__title--2 {
    background-image: linear-gradient(to right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
  .card__title--3 {
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 1rem 3rem; }
    .card__details ul {
      list-style-type: none;
      width: 75%;
      margin: auto; }
      .card__details ul li {
        padding: 1rem;
        font-size: 1.5rem;
        text-align: center; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__side {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    height: 50rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden; }
    .card__side--back {
      padding-top: 10rem;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__price {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__header {
        top: 16rem;
        width: 85%; }
        .card__header--3 {
          top: 12rem;
          width: 75%; }
      .card__side {
        height: 60rem;
        padding-bottom: 10rem;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          height: 38rem;
          margin-top: -13rem;
          padding: 10rem 0 0;
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__price {
        margin-bottom: 4rem; } }
  @media (max-width: 37.5em) {
    .card__header {
      width: 90%; }
      .card__header--3 {
        width: 75%; } }

.story-card {
  width: 75%;
  margin: 0 auto;
  padding: 6rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.6rem;
  position: relative;
  transform: skewX(-7deg);
  transition: all .8s; }
  @media (max-width: 75em) {
    .story-card {
      width: 100%;
      transform: skewX(0); } }
  .story-card__shape {
    transform: skewX(7deg);
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin-right: 4rem; }
    @media (max-width: 75em) {
      .story-card__shape {
        transform: skewX(0); } }
    @media (max-width: 37.5em) {
      .story-card__shape {
        display: block;
        float: initial;
        margin: 0 auto; } }
  .story-card__img {
    height: 100%;
    transform: translateX(-3.5rem) scale(1.5);
    transition: all .8s; }
  .story-card__caption {
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.7rem;
    transform: translate(-50%, -50%);
    visibility: hidden;
    color: #fff; }
  @media (max-width: 37.5em) {
    .story-card__text {
      padding-top: 3rem;
      display: block;
      width: 100%; } }
  .story-card:hover .story-card__img {
    filter: blur(3px) brightness(85%);
    transform: translateX(-3.5rem) scale(1); }
  .story-card:hover .story-card__caption {
    visibility: visible;
    animation-name: name-move-up;
    animation-duration: .8s; }

.bg-video {
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  position: absolute;
  opacity: 0.15; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  font-family: inherit;
  color: inherit;
  display: block;
  width: 85%;
  border: none;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 3px solid transparent;
  transition: all .3s; }
  @media (max-width: 75em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #28b485; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .8rem;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 48%;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .form__radio-group {
      margin-top: 2rem;
      display: block; } }

.form__radio-input {
  display: none; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 100%;
  visibility: visible; }

.form__radio-label {
  font-size: 1.6rem;
  position: relative;
  cursor: pointer;
  padding-left: 4rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.5rem; }
  .form__radio-button::after {
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a; }

@media (max-width: 56.25em) {
  .form__btn-wrap {
    padding-top: 2rem; } }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 2001;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3); }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__content {
    position: relative;
    background-color: #fff;
    width: 70%;
    margin: auto;
    margin-top: 12rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    opacity: 0;
    transform: scale(0.3);
    transition: all .5s .2s; }
  .popup:target .popup__content {
    opacity: 1;
    transform: scale(1); }
  .popup__close {
    font-size: 3rem;
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
    text-decoration: none; }
    .popup__close:hover, .popup__close:focus {
      color: #55c57a;
      cursor: pointer; }
  .popup__img {
    display: block;
    width: 100%;
    height: 50%; }
  .popup__text-wraper {
    padding: 2rem 3rem 2rem 0; }
  .popup__heading2-wraper {
    padding-bottom: 1.5rem; }
  .popup__heading3-wraper {
    padding-bottom: 1.5rem;
    font-size: 1.6rem; }
  .popup__paragraph-wraper {
    font-size: 1.4rem;
    column-count: 2;
    column-rule: 1px solid #eee;
    hyphens: auto; }
  .popup__btn-wraper {
    padding-top: 3rem; }

.header {
  height: 95vh;
  /* Stacked background images */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  /* So that .logo-box relative would work */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg); } }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__logo-box:hover .header__logo {
    animation-name: logo-move-in;
    animation-duration: 1s;
    cursor: pointer; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }
    .header__text-box a {
      animation: move-in-bottom .5s ease-out .75s;
      animation-fill-mode: backwards; }

.footer {
  background-color: #333;
  color: #fff;
  padding: 10rem 0;
  font-size: 1.4rem; }
  @media (max-width: 75em) {
    .footer {
      padding: 5rem 2rem; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 5rem; } }
  .footer__logo {
    width: 15rem; }
  .footer__navigation {
    display: inline-block;
    padding-top: 2rem;
    border-top: 1px solid #777; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
    background-color: #333; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    width: 85%;
    float: right;
    padding-top: 2rem;
    border-top: 1px solid #777; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        text-align: center; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (6rem) * 2) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - (6rem) * 3) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (6rem) * 2) / 3) + (6rem)); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (6rem) * 3) / 4) + (6rem)); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (6rem) * 3) / 4) + (6rem)*2); }

.navigation__checkbox {
  display: none; }

.navigation__btn {
  display: block;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center; }
  @media (max-width: 56.25em) {
    .navigation__btn {
      top: 3rem;
      right: 3rem; } }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__background {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 7rem;
  right: 7rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.7s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 3.3rem;
      right: 3.3rem; } }

.navigation__nav {
  opacity: 0;
  width: 0;
  height: 100vh;
  position: fixed;
  z-index: 1500;
  top: 0;
  left: 0;
  transition: all 0.7s cubic-bezier(0.67, -0.5, 0.06, 1.4); }

.navigation__list {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1.5rem; }

.navigation__link:link, .navigation__link:visited {
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 2rem;
  background-size: 300%;
  transition: all ease-out .4s;
  background-image: linear-gradient(120deg, transparent 50%, #fff 50% 100%); }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  transform: translateX(1rem);
  background-position: 100%;
  color: #7ed56f; }

.navigation__icon {
  position: relative;
  margin-top: 3.45rem; }
  .navigation__icon, .navigation__icon:before, .navigation__icon::after {
    display: inline-block;
    width: 3rem;
    height: 1px;
    background-color: #333; }
  .navigation__icon:before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__btn:hover {
  cursor: pointer; }

.navigation__btn:hover .navigation__icon::before {
  height: 1.5px;
  top: -1rem; }

.navigation__btn:hover .navigation__icon::after {
  height: 1.5px;
  top: 1rem; }

.navigation__checkbox:checked + .navigation__btn .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__btn .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
  height: 1.5px !important; }

.navigation__checkbox:checked + .navigation__btn .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
  height: 1.5px !important; }
