.navigation{
    &__checkbox{
        display: none;
    }

    &__btn{
        display: block;
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;

        @include respond(tab-port){
            top: 3rem;
            right: 3rem;
        }
    }
    
    &__checkbox:checked ~ &__background{
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    &__checkbox:checked ~ .navigation__nav > ul > li {
        display: block;
    }


    &__background{
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 7rem;
        right: 7rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: transform .7s cubic-bezier(.86, 0, .07, 1);

        @include respond(tab-port){
            top: 3.3rem;
            right: 3.3rem;
        }
    }

    &__nav{
        opacity: 0;
        width: 0;
        height: 100vh;
        position: fixed;
        z-index: 1500;
        top: 0;
        left: 0;
        transition: all .7s cubic-bezier(.67, -0.5, .06, 1.4);
    }

    &__list{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }

    &__item{
        margin: 1.5rem;
        display: none;
    }

    &__link{
        &:link,
        &:visited{
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            padding: 1rem 2rem;
            background-size: 300%;
            transition: all ease-out .4s;
            background-image: linear-gradient(120deg, transparent 50%, $color-white 50% 100%);
            span{
                margin-right: 1rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active{
            transform: translateX(1rem);
            background-position: 100%;
            color: $color-primary-light;
        }
    }

    &__icon{
        position: relative;
        margin-top: 3.45rem;

        &,
        &:before,
        &::after{
            display: inline-block;
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-2;
            user-select: none;
        }
        
        &:before{
            height: 2px;
        }

        &:before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before{
            top: -.8rem;
        }
        &::after{
            top: .8rem;
        }
        
    }

    &__btn:hover {
        cursor: pointer;
    }
    &__btn:hover &__icon{

        &::before{
            height: 1.5px;
            top: -1rem;
        }
        &::after{
            top: 1rem;
        }
    }

    &__checkbox:checked + &__btn &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__btn &__icon::before {
        top: 0;
        transform: rotate(135deg);
        height: 1.5px !important;
    }
    
    &__checkbox:checked + &__btn &__icon::after {
        top: 0;
        transform: rotate(-135deg);
        height: 1.5px !important;
    }

}