.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem;
    margin-top: -25vh;
}

.section-features{
    padding: 20rem 0;
    background-image:
    linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),  
    url(../img/nat-4.jpg);
    background-size: cover;
    // Skew trick for background
    transform: skewY(-7deg);
    margin-top: -10rem;
    
    & > * { // Direct child selector better than in this case better than "& row" - since new thing might be added later 
        transform: skewY(7deg); // Skeq back
    }
}

.section-tours{
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}

.section-stories{
    background-color: $color-grey-light-1;
    padding: 15rem 0;
    position: relative;
    
    &__heading{
        position: relative;
    }   

    &__morebtn{
        position: relative;
    }   
}